<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描包-->
    <context:component-scan base-package="cn.yswu"></context:component-scan>


    <!--
    将映射的地址直接指向静态资源文件夹，springmvc将不会将此映射作为handler
    <mvc:resources mapping="/images/**" location="/images/"/>-->


    <!--默认视图解析器 -  配上前缀和后缀  简化 逻辑视图名称-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver" >
        <property name="prefix" value="/WEB-INF/views/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>


    <!--注解驱动，比加，配置访问静态资源 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <mvc:resources mapping="/assets/**" location="/WEB-INF/static/"></mvc:resources>

    <!--设计国际化支持，支持国家化文件-->
    <bean class="org.springframework.context.support.ResourceBundleMessageSource" id="messageSource">
        <property name="basenames">
            <array>
                <value>i18n/login</value>
            </array>
        </property>
    </bean>

    <!--方式二：使用sessionlocale 保持locale的状态-->
    <bean class="org.springframework.web.servlet.i18n.SessionLocaleResolver" id="localeResolver">

    </bean>

    <!--方式一：使用springmvc提供的拦截器，接收local 参数(en_US,zh_Cn)  设置到session中去-->
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">

        </bean>
    </mvc:interceptors>



</beans>